{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pinball Recall</title>
  <!-- <link rel="stylesheet" type="text/css" href="css/game.css"> -->
  <style>
    body, html {
      margin: 0;
      background: #000;
    }
    
    #container {
      position: relative;
      text-align: center;
      width: 600px;
      margin: 5% auto;
      }
      #container #ball {
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
      }
      #container #lights {
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
      }
      #container #paddles {
        top: 0;
        left: 0;
        z-index: -2;
        position: absolute;
      }
      #container #game {
        top: 0;
        left: 0;
        z-index: -3;
        position: absolute;
      }
  </style>
</head>
<body>
  <div id="container">
    <canvas id="ball" width="600" height="600"></canvas>
    <canvas id="lights" width="600" height="600"></canvas>
    <canvas id="paddles" width="600" height="600"></canvas>
    <canvas id="game" width="600" height="600"></canvas>
    <!-- <script type="text/javascript" src="js/vendor/require.js"></script> -->
    <!-- <script type="text/javascript" src="js/app.js"></script> -->
    <!-- <script type="text/javascript" src="tmp.js"></script> -->
    <script>
      Game = (function () {
        // public space
        var self = {};
        self.ready = 0;
        self.paddles = {};
        self.map_paddles = {};
        self.top_lights = [];
        self.bottom_lights = [];
        self.right_lights = [];
        self.left_lights = [];
        self.path = [];
        self.availability = [];
        self.lights = {}
        self.lights_list = [];
        self.start_light = null;
      
        self.settings = {
          name: "Pinball Recall",
          canvis_id: "game",
        };
      
        // private
        var grid_size = 60;
        var board = {
          cols: 6,
          rows: 6,
        };
        var board_width = board["cols"] * grid_size;
        var board_height = board["rows"] * grid_size;
        var start_x = grid_size * 2; // + ((6 % board['cols']) * grid_size);
        var start_y = grid_size * 2; // + ((6 % board['rows']) * grid_size);
        var end_x = board_width + grid_size * 2;
        var end_y = board_height + grid_size * 2;
        var level = 1;
        var start_time = 0;
      
        // console.log("grid_size", grid_size);
        // console.log("board", board);
        // console.log("board_width", board_width);
        // console.log("board_height", board_height);
        // console.log("start_x", start_x);
        // console.log("start_y", start_y);
      
        var canvas = null;
        var initted = false;
        var img_path = "images/";
      
        buildGame = async function () {
          self.ball = new Ball();
          animate();
      
          // Add availability
          for (x = 0; x < board.cols; x++) {
            for (y = 0; y < board.rows; y++) {
              a_string = x + "_" + y;
              self.availability.push(a_string);
            }
          }
          console.log("Available Coords", self.availability);
      
          // Background
          var img = new Image();
          img.src = img_path + "wood.jpg";
      
          await new Promise((resolve, reject) => {
            img.onload = async function () {
              canvas.drawImage(img, 0, 0, 600, 600);
      
              drawOuterBox();
              drawInnerBox();
              drawGrid();
              drawLights();
              setPath();
              //drawPath();
              await drawPaddles();
      
              // self.ready = 1;
              // self.top_lights[1].start_marker();
      
              // setTimeout(function() {
              //   self.top_lights[1].start_marker();
              //   self.ready = 1;
              // }, 4600);
      
              resolve();
            };
      
            img.onerror = reject;
          });
        };
      
        setPath = function () {
          levels = [
            [
              { x: 210, y: 90 },
              { x: 210, y: 390 },
              { x: 510, y: 390 },
            ],
            [
              { x: 210, y: 90 },
              { x: 210, y: 390 },
              { x: 510, y: 390 },
            ],
            [
              { x: 210, y: 90 },
              { x: 210, y: 390 },
              { x: 390, y: 390 },
              { x: 390, y: 210 },
              { x: 270, y: 210 },
              { x: 270, y: 510 },
            ],
            [
              { x: 210, y: 90 },
              { x: 210, y: 390 },
              { x: 390, y: 390 },
              { x: 390, y: 210 },
              { x: 270, y: 210 },
              { x: 270, y: 330 },
              { x: 510, y: 330 },
            ],
            [
              { x: 210, y: 90 },
              { x: 210, y: 390 },
              { x: 390, y: 390 },
              { x: 390, y: 210 },
              { x: 90, y: 210 },
            ],
          ];
      
          self.path = levels[Math.randomInt(levels.length)];
          light = self.lights_list[self.start_light];
          self.map_paddles = generatePaddles(light.x, light.y);
          self.path = calculatePath(light.x, light.y);
          updateAvailableCoords();
        };
      
        generatePaddles = function (x,y) {
          cords = [];
          for(let x = 150; x <= 450; x+=60) {
            for(let y = 150; y <= 450; y+=60) {
              dir = Math.randomInt(2);
              cords.push({x,y,dir})
            }
          }
      
          padds = []
          numPaddle = Math.randomInt(5) + 7;
          for(let i = 0; i < numPaddle; i++) {
            randomIndex = Math.randomInt(cords.length);
            padds.push(cords[randomIndex]);
            cords.pop(randomIndex);
          }
          if(x == 90 || x == 510) {
            coords = coordsToPixels(Math.randomInt(board.cols), y);
            if (cords.indexOf({x: coords.x, y: y, dir: 0}) == -1 && cords.indexOf({x: coords.x, y: y, dir: 1}) == -1) {
              console.log({x: coords.x, y: y, dir: 0})
              padds.push({x: coords.x, y: y, dir: Math.randomInt(2)})
            }
          }
          else if(y == 90 || y == 510) {
            coords = coordsToPixels(x, Math.randomInt(board.rows));
            if (cords.indexOf({x: x, y: coords.y, dir: 0}) == -1 && cords.indexOf({x: x, y: coords.y, dir: 2}) == -1) {
              console.log({x: x, y: coords.y, dir: 0})
              padds.push({x: x, y: coords.y, dir: Math.randomInt(2)})
            }
          }
      
      
          return padds;
        }
      
        calculatePath = function (x,y) {
          path = []
          path.push({x,y})
          map = [];
          for (i = 0; i < board.rows; i++) {
            tmp = []
            for (j = 0; j < board.cols; j++) {
              tmp.push(null)
            }
            map.push(tmp);
          }
          for (i = 0; i < self.map_paddles.length; i++) {
            padd = self.map_paddles[i];
            coords = pixelsToCoords(padd.x, padd.y);
            map[coords.y][coords.x] = padd.dir;
          }
          dir = -1;
          if(y == 90) dir = 0 //down
          else if (y == 510) dir = 2 //up
          else if (x == 90) dir = 1 //right
          else if (x == 510) dir = 3 //left
      
          // dir 0 == \
          // dir 1 == /
      
          currentCords = pixelsToCoords(x,y);
      
          if (dir == 0) 
            currentCords.y += 1;
          else if (dir == 1) 
            currentCords.x += 1;
          else if (dir == 2) 
            currentCords.y -= 1;
          else if (dir == 3) 
            currentCords.x -= 1;
      
          while(isOnMap(currentCords.x, currentCords.y)) {
            if (map[currentCords.y][currentCords.x] != null) {
              path.push(coordsToPixels(currentCords.x, currentCords.y));
              console.log(map[currentCords.y][currentCords.x]);
              if (dir == 0) {
                if(map[currentCords.y][currentCords.x] == 0)
                  dir = 1;
                else if(map[currentCords.y][currentCords.x] == 1)
                  dir = 3;
              }
              else if (dir == 1) {
                if(map[currentCords.y][currentCords.x] == 0)
                  dir = 0;
                else if(map[currentCords.y][currentCords.x] == 1)
                  dir = 2;
              }
              else if (dir == 2) {
                if(map[currentCords.y][currentCords.x] == 0)
                  dir = 3;
                else if(map[currentCords.y][currentCords.x] == 1)
                  dir = 1;
              }
              else if (dir == 3) {
                if(map[currentCords.y][currentCords.x] == 0)
                  dir = 2;
                else if(map[currentCords.y][currentCords.x] == 1)
                  dir = 0;
              }
            }
            
            if (dir == 0) 
              currentCords.y += 1;
            else if (dir == 1) 
              currentCords.x += 1;
            else if (dir == 2) 
              currentCords.y -= 1;
            else if (dir == 3) 
              currentCords.x -= 1;
          }
          path.push(coordsToPixels(currentCords.x, currentCords.y));
      
          return path;
        }
      
        // drawPath = function() {
        //   canvas.setLineDash([0]);
        //   turns = Math.randomInt(5)+4;
        //   path = [];
        //   start = randomCoord();
        //   path.push({x:(start.x*60)+150, y: (start.y*60)+150});
        //   for(i=1;i<turns;i++) {
        //     direction = Math.randomInt(2);
        //     if(direction == 0) {
        //       x = ( Math.randomInt(board.cols) * 60 ) + 150;
        //       y = path[i-1].y;
        //     } else {
        //       y = ( Math.randomInt(board.rows) * 60 ) + 150;
        //       x = path[i-1].x;
        //     }
        //     coords = randomCoord();
      
        //     path.push({x:x, y:y});
        //   }
      
        //   Draw.path(canvas,
        //     path,
        //     {lineWidth: 10,
        //      strokeStyle: '#FFFFFF'}
        //   );
        // }
      
        drawOuterBox = function () {
          Draw.box(
            canvas,
            { x: start_x - grid_size, y: start_y - grid_size },
            { x: end_x, y: end_y },
            {
              fillStyle: "#311b09",
              globalAlpha: 0.4,
            }
          );
        };
      
        drawInnerBox = function () {
          Draw.box(
            canvas,
            { x: start_x, y: start_y },
            { x: board_width, y: board_height },
            {
              fillStyle: "#3a1f0a",
              globalAlpha: 1,
            }
          );
        };
      
        drawGrid = function () {
          canvas.setLineDash([8, 6]);
      
          // Horizontal Lines
          for (i = 1; i < board.rows; i++) {
            offset_y = start_y + grid_size * i;
      
            Draw.line(
              canvas,
              { x: start_x, y: offset_y },
              { x: end_x, y: offset_y },
              {
                lineWidth: 3,
                strokeStyle: "#543111",
              }
            );
          }
      
          // Vertical Lines
          for (i = 1; i < board.cols; i++) {
            offset_x = start_x + grid_size * i;
      
            Draw.line(
              canvas,
              { x: offset_x, y: start_y },
              { x: offset_x, y: end_y },
              {
                lineWidth: 3,
                strokeStyle: "#543111",
              }
            );
          }
        };
      
        drawLights = function () {
          for (i = 0; i < board["cols"]; i++) {
            // Horizontal Lights
            x = 150 + 60 * i;
            t = new Light(canvas, x, 90, self)
            self.top_lights.push(t);
            self.lights_list.push(t);
            coords = pixelsToCoords(x, 90);
            self.lights["light_" + coords.x + "_" + coords.y] = t;
            t = new Light(canvas, x, board_height + grid_size * 2 + 30, self)
            self.bottom_lights.push(t);
            self.lights_list.push(t);
            coords = pixelsToCoords(x, board_height + grid_size * 2 + 30);
            self.lights["light_" + coords.x + "_" + coords.y] = t;
          }
      
          for (i = 0; i < board["rows"]; i++) {
            // Vertical Lights
            y = 150 + 60 * i;
            t = new Light(canvas, 90, y, self)
            coords = pixelsToCoords(90, y);
            self.left_lights.push(t);
            self.lights_list.push(t);
            self.lights["light_" + coords.x + "_" + coords.y] = t;
            t = new Light(canvas, board_width + grid_size * 2 + 30, y, self)
            coords = pixelsToCoords(board_width + grid_size * 2 + 30, y);
            self.right_lights.push(t);
            self.lights_list.push(t);
            self.lights["light_" + coords.x + "_" + coords.y] = t;
          }
      
          // choose random start light
          self.start_light = Math.randomInt(self.lights_list.length);
      
          // showLights(self.top_lights);
      
          // setTimeout(function() { showLights(self.right_lights) }, 200);
          // setTimeout(function() { showLights(self.bottom_lights.reverse()) }, 400);
          // setTimeout(function() { showLights(self.left_lights.reverse()) }, 600);
      
          // setTimeout(function() { showLights(self.top_lights.reverse()) }, 800);
          // setTimeout(function() { showLights(self.left_lights.reverse()) }, 1000);
          // setTimeout(function() { showLights(self.bottom_lights.reverse()) }, 1200);
          // setTimeout(function() { showLights(self.right_lights.reverse()) }, 1400);
      
          // setTimeout(function() {
          //   for(i=0;i<board['cols']; i++) {
          //     self.top_lights[i].glow(0.025);
          //     self.bottom_lights[i].glow(0.025);
          //   }
          //   for(x=0;x<board['rows']; x++) {
          //     self.left_lights[x].glow(0.025);
          //     self.right_lights[x].glow(0.025);
          //   }
          // }, 1000);
        };
      
        drawPaddle2 = function () {
          total = self.path.length;
          distractions = 4;
      
          for (i = 0; i < self.map_paddles.length; i++) {
            padd = self.map_paddles[i];
            coords = pixelsToCoords(padd.x, padd.y);
            if (self.paddles["paddle_" + coords.x + "_" + coords.y] == null) {
              self.paddles["paddle_" + coords.x + "_" + coords.y] = new Paddle(
                canvas,
                padd.dir,
                coords.x,
                coords.y
              );
            }
          }
        };
      
        drawPaddles = async function () {
          show_time = 1600; // 1600
          hide_time = 4000;
      
          drawPaddle2();
          await runAfterDelay();
          // try except
          try {
            for (i in self.paddles) {
              // log paddle array length
              self.paddles[i].hide();
            }
          } catch (e) {}
          
          // setTimeout(function() {
          
          // }, hide_time);
        };
      
        showLights = function (light_set, interval) {
          v = 0;
          interval = interval ? interval : 15;
          self.lights_int = setInterval(function () {
            light_set[v].glow();
            v++;
            if (v == light_set.length) {
              clearInterval(self.lights_int);
            }
          }, interval);
        };
      
        getDirection = function (start, end) {
          if (start < end) {
            dir = 1;
          } else if (start > end) {
            dir = -1;
          } else if (start == end) {
            dir = 0;
          }
          return dir;
        };
      
        updateAvailableCoords = function () {
          // Run throgh path and define cells that are off limits
          self.path.each(function (obj, i) {
            if (i == self.path.length - 1) return;
      
            next_obj = self.path[i + 1];
            next_coord = next_obj ? pixelsToCoords(next_obj.x, next_obj.y) : null;
            current_coord = pixelsToCoords(obj.x, obj.y);
      
            x_dir = getDirection(current_coord.x, next_coord.x);
            y_dir = getDirection(current_coord.y, next_coord.y);
      
            if (x_dir != 0) {
              while (current_coord.x != next_coord.x) {
                current_coord.x = current_coord.x += x_dir;
                current_pos = current_coord.x + "_" + current_coord.y;
                console.log("remove", current_pos);
                index = self.availability.indexOf(current_pos);
                self.availability.splice(index, 1);
              }
            } else if (y_dir != 0) {
              while (current_coord.y != next_coord.y) {
                current_coord.y = current_coord.y += y_dir;
                current_pos = current_coord.x + "_" + current_coord.y;
                console.log("remove", current_pos);
                index = self.availability.indexOf(current_pos);
                self.availability.splice(index, 1);
              }
            }
          });
        };
      
        isOnMap = function (x,y) {
          return x < board.cols && x >= 0 && y < board.rows && y >= 0
        }
      
        randomCoord = function () {
          return {
            x: Math.randomInt(board.cols),
            y: Math.randomInt(board.rows),
          };
        };
      
        pixelsToCoords = function (x, y) {
          return {
            x: Math.floor((x - start_x) / grid_size),
            y: Math.floor((y - start_y) / grid_size),
          };
        };
      
        coordsToPixels = function (x,y) {
          return {
            x: (x * grid_size)+150,
            y: (y * grid_size)+150,
          }
        }
      
        function waitFourSeconds() {
          return new Promise((resolve) => {
            setTimeout(resolve, 4000);
          });
        }
      
        async function runAfterDelay() {
          await waitFourSeconds();
          console.log("Function running after 4 seconds!");
        }
      
        startGame = async function () {
          self.lights_list[self.start_light].start_marker();
          self.ready = 2;
          // self.ready = 1;
        };
      
        getCanvas = function () {
          return $("#" + self.settings.canvis_id).getContext("2d");
        };
      
        // public
      
        self.init = async function () {
          if (initted) return false;
          canvas = getCanvas();
          await buildGame();
          console.log("DONE BUILDING");
          await startGame();
          return (initted = true);
        };
      
        return self;
      })();
      
      Paddle = function(canvas, d, x, y) {
        var self = {};
        var size = 60;
        var width = 30;
        var padding = 15;
        var zero = 120;
        var canvas = null;
      
        self.start = {
          x: ((zero + padding) + (size * x)),
          y: ((zero + padding) + (size * y)) + (d * width)
        }
      
        self.end = {
          x: (self.start.x + 30),
          y: (self.start.y + 30) - (d * (width * 2))
        }
      
        self.init = function() {
          canvas = $("#paddles").getContext('2d');
          self.show();
          return self;
        }
      
        self.show = function() {
          canvas.setLineDash([0]);
      
          Draw.line(canvas,
            { x: self.start.x, y: self.start.y },
            { x: self.end.x, y: self.end.y },
            {
              lineWidth: 18,
              lineCap: 'round',
              strokeStyle: '#745d3f'
            }
          );
      
          Draw.line(canvas,
            { x: self.start.x, y: self.start.y },
            { x: self.end.x, y: self.end.y },
            {
              lineWidth: 10,
              lineCap: 'round',
              strokeStyle: '#FFFFFF'
            }
          );
        }
      
        self.bend = function() {
          self.hide();
      
          canvas.beginPath();
          canvas.moveTo(self.start.x, self.start.y);
          canvas.quadraticCurveTo(self.end.x-32, self.end.y, self.end.x, self.end.y);
          canvas.strokeStyle = '#745d3f';
          canvas.lineWidth = 18;
          canvas.stroke();
      
          canvas.beginPath();
          canvas.moveTo(self.start.x, self.start.y);
          canvas.quadraticCurveTo(self.end.x-35, self.end.y, self.end.x, self.end.y);
          canvas.strokeStyle = '#FFFFFF';
          canvas.lineWidth = 10;
          canvas.stroke();
      
          setTimeout(function() {
            self.hide();
            self.show();
          }, 50);
        }
      
        self.fade = function() {
          alpha = 0;
          canvas.setLineDash([0]);
      
          self.int = setInterval(function() {
            self.hide(alpha);
            alpha += 0.2;
            if(alpha > 10) {
              clearInterval(self.int);
            }
          }, 60);
        }
      
        self.hide = function(alpha) {
          alpha = alpha == undefined ? 10 : alpha;
          start_x = self.start.x-10;
          start_y = d ? self.start.y-40 : self.start.y-10;
          Draw.box(canvas,
            {x: start_x, y: start_y},
            {x: 50, y: 50},
            {
              fillStyle: 'rgba(58, 31, 10, '+ alpha/10 +')'
              //fillStyle: 'red'
            }
          );
        }
      
        return self.init();
      };
      function animate() {
        requestAnimFrame(animate);
        if(Game.ready === 1) {
          Game.ball.draw();
        }
      }
      Light = function(canvas, x, y, game) {
        var self = {};
        self.x = x;
        self.y = y;
        self.game = game;
      
        var radius = 15;
        var canvas = null;
      
        self.init = function() {
          Mouse.registerTouchable(self, { x: self.x, y: self.y });
          var canvasElement = document.getElementById('ball');
          canvas = $("#lights").getContext('2d');
          canvas.beginPath();
          canvas.setLineDash([0]);
          canvas.arc(x, y, radius, 0, 2 * Math.PI, false);
          canvas.fillStyle = '#935f30';
          canvas.lineWidth = 6;
          canvas.strokeStyle = '#3a1f0a';
          canvas.fill();
          canvas.stroke();
          // Add the click event listener to the canvas
          canvasElement.addEventListener('click', self.click);
          return self;
        }
      
        self.mouseOver = function() {
          if (self.game.ready === 2 && self.game.lights_list[self.game.start_light] != self) {
            canvas.beginPath();
            canvas.arc(x, y, radius, 0, 2 * Math.PI, false);
            canvas.fillStyle = 'rgba(252, 237, 188, 1)';
            canvas.fill();
            canvas.lineWidth = 6;
            canvas.strokeStyle = '#3a1f0a';
            canvas.stroke();
          }
        }
      
        self.mouseOut = function() {
          if (self.game.ready === 2 && self.game.lights_list[self.game.start_light] != self) {
            canvas.beginPath();
            canvas.arc(x, y, radius, 0, 2 * Math.PI, false);
            canvas.fillStyle = 'rgba(147, 95, 48, 1)';
            canvas.fill();
            canvas.lineWidth = 6;
            canvas.strokeStyle = '#3a1f0a';
            canvas.stroke();
          }
        }
      
        self.glow = function(glow_speed) {
          if (self.game.ready === 2 && self.game.lights_list[self.game.start_light] != self) {
            canvas.beginPath();
            canvas.arc(x, y, radius, 0, 2 * Math.PI, false);
            canvas.fillStyle = 'rgba(252, 237, 188, 1)';
            canvas.fill();
            canvas.lineWidth = 6;
            canvas.strokeStyle = '#3a1f0a';
            canvas.stroke();
            glow_interval = 40;
            glow_speed = glow_speed ? glow_speed : 1;
            self.alpha = 0;
            self.glow_int = setInterval(function() {
              canvas.beginPath();
              canvas.arc(x, y, radius, 0, 2 * Math.PI, false);
              canvas.fillStyle = 'rgba(147, 95, 48, '+self.alpha/10+')';
              canvas.fill();
              canvas.lineWidth = 6;
              canvas.strokeStyle = '#3a1f0a';
              canvas.stroke();
              self.alpha += glow_speed;
              if(Math.round(self.alpha) == 10) {
                clearInterval(self.glow_int);
              }
            }, glow_interval);
          }
        }
      
        self.start_marker = function() {
          m_width = 40;
          m_height = 20;
          m_angle = 30;
          if (x == 90) {
            m_start = {
              x: x-15,
              y: y-20,
            };
        
            canvas.clearRect(m_start.x-10, m_start.y-10, m_width+25, m_height+25);
        
            canvas.fillStyle="#2fbeea";
            canvas.strokeStyle="#FFFFFF";
            canvas.lineWidth = 6;
            canvas.beginPath();
        
            canvas.moveTo( m_start.x, m_start.y );
            canvas.lineTo( (m_start.x), (m_start.y + m_width) );
            canvas.lineTo( (m_start.x + m_angle), (m_start.y + m_height) );
        
            canvas.closePath();
            canvas.fill();
            canvas.stroke();
          }
          else if (x == 510) {
            m_start = {
              x: x+15,
              y: y-20,
            };
        
            canvas.clearRect(m_start.x-10, m_start.y-10, m_width+25, m_height+25);
        
            canvas.fillStyle="#2fbeea";
            canvas.strokeStyle="#FFFFFF";
            canvas.lineWidth = 6;
            canvas.beginPath();
        
            canvas.moveTo( m_start.x, m_start.y );
            canvas.lineTo( (m_start.x), (m_start.y + m_width) );
            canvas.lineTo( (m_start.x - m_angle), (m_start.y + m_height) );
        
            canvas.closePath();
            canvas.fill();
            canvas.stroke();
          }
          else if(y == 510) {
            m_start = {
              x: x-20,
              y: y+15,
            };
        
            canvas.clearRect(m_start.x-10, m_start.y-10, m_width+25, m_height+25);
        
            canvas.fillStyle="#2fbeea";
            canvas.strokeStyle="#FFFFFF";
            canvas.lineWidth = 6;
            canvas.beginPath();
        
            canvas.moveTo( m_start.x, m_start.y );
            canvas.lineTo( (m_start.x + m_width), m_start.y );
            canvas.lineTo( (m_start.x + m_height), (m_start.y - m_angle) );
        
            canvas.closePath();
            canvas.fill();
            canvas.stroke();
          }
          else {
            m_start = {
              x: x-20,
              y: y-15,
            };
        
            canvas.clearRect(m_start.x-10, m_start.y-10, m_width+25, m_height+25);
        
            canvas.fillStyle="#2fbeea";
            canvas.strokeStyle="#FFFFFF";
            canvas.lineWidth = 6;
            canvas.beginPath();
        
            canvas.moveTo( m_start.x, m_start.y );
            canvas.lineTo( (m_start.x + m_width), m_start.y );
            canvas.lineTo( (m_start.x + m_height), (m_start.y + m_angle) );
        
            canvas.closePath();
            canvas.fill();
            canvas.stroke();
          }
        }
      
        self.click = function(event) {
          if (self.game.ready === 2) {
            var canvasElement = document.getElementById('ball');
            var rect = canvasElement.getBoundingClientRect();
            var dx = event.clientX - rect.left - x;
            var dy = event.clientY - rect.top - y;
            var distance = Math.sqrt(dx * dx + dy * dy);
          
            if (distance < radius) {
              self.game.ready = 1;
            }
          }
        }
        
      
        return self.init();
      }
      Draw = {
        line: function(target, start, end, styleOptions) {
          target.merge(styleOptions);
      
          target.beginPath();
          target.moveTo(start.x, start.y);
          target.lineTo(end.x, end.y);
          target.stroke();
        },
      
        box: function(target, start, end, styleOptions) {
          target.merge(styleOptions);
          target.fillRect(start.x, start.y, end.x, end.y);
        },
      
        circle: function() {
      
        },
      
        path: function(target, lines, styleOptions) {
          target.merge(styleOptions);
          console.log("PATH", lines);
          target.beginPath();
          target.moveTo(lines[0].x, lines[0].y);
          for(i=1;i<lines.length;i++) {
            target.lineTo(lines[i].x, lines[i].y);
          }
          target.stroke();
        }
      }
      // Global Cache
      
      Cache = (function() {
        self = {
          dom: {},
          data: {}
        }
        return self;
      }());
      
      // String Patches
      
      String.prototype.supplant = function (o) {
        return this.replace(/{([^{}]*)}/g,
          function (a, b) {
            var r = o[b];
            return typeof r === 'string' || typeof r === 'number' ? r : a;
          }
        );
      };
      
      // Object Patches
      
      Object.prototype.merge = function(other) {
        for (var key in other) {
          this[key] = other[key];
        }
      }
      
      Object.prototype.each = function(callback) {
        for(t in this) {
          if(this.propertyIsEnumerable(t)) {
            callback(this[t]);
          }
        }
      }
      
      // Array Patches
      
      Array.prototype.each = function(callback) {
        var size = this.length;
        for(var i = 0; i < size; i++) {
          callback(this[i], i);
        }
      }
      
      Array.prototype.first = function() {
        return this[0];
      }
      
      Array.prototype.last = function() {
        return this.slice(-1)[0];
      }
      
      // Math Pathces
      
      Math.randomInt = function(max) {
        max = max || 10;
        return Math.floor( Math.random() * max );
      }
      
      // jQuery style element selector
      
      $ = function(selectors) {
        elements = Cache.dom[selectors] || document.querySelector(selectors);
        return Cache.dom[selectors] = elements;
      }
      
      // requestAnimFrame Shim
      
      window.requestAnimFrame = (function(){
        return window.requestAnimationFrame  ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          window.oRequestAnimationFrame      ||
          window.msRequestAnimationFrame     ||
          function(/* function */ callback, /* DOMElement */ element){
            window.setTimeout(callback, 1000 / 60);
          };
      })();
      
      Ball = function() {
        var self = {};
      
        self.init = function() {
          self.x = null;
          self.y = null;
          self.radius = 15;
          self.lineWidth = 6;
          self.size = 40;
          self.speed = 10;
          self.canvas = $("#ball").getContext('2d');
      
          self.path_index = 0;
          self.options = {
            fillStyle: "#2fbeea",
            strokeStyle: "#FFFFFF",
            lineWidth: self.lineWidth
          }
          return self;
        }
      
        self.draw = function() {
          if (Game.path.length == self.path_index) {
            return false;
          }
      
          self.canvas.merge(self.options);
          self.canvas.clearRect(self.x-(self.size/2), self.y-(self.size/2), self.size, self.size);
      
          if (self.x == null) {
            self.x = Game.path[self.path_index].x;
            self.y = Game.path[self.path_index].y;
          }
      
          if (self.y < Game.path[self.path_index].y) {
            self.y += self.speed;
          } else if (self.y > Game.path[self.path_index].y) {
            self.y -= self.speed;
          }
      
          if (self.x < Game.path[self.path_index].x) {
            self.x += self.speed;
          } else if (self.x > Game.path[self.path_index].x) {
            self.x -= self.speed;
          }
      
          if (self.y == Game.path[self.path_index].y && self.x == Game.path[self.path_index].x) {
            if (self.path_index != 0 && (self.path_index < Game.path.length-1)) {
              coords = pixelsToCoords(Game.path[self.path_index].x, Game.path[self.path_index].y);
              Game.paddles['paddle_' + coords.x + '_' + coords.y].bend();
            }
            self.path_index ++;
          }
      
          self.canvas.beginPath();
          self.canvas.arc(self.x, self.y, self.radius, 0, 2 * Math.PI, false);
          self.canvas.fill();
          self.canvas.stroke();
        }
      
        return self.init();
      };
      // TODO: Factor in y scroll offset
      
      Mouse = (function() {
        // Public
        self = {};
        self.x = null;
        self.y = null;
        self.offset_x = null;
        self.offset_y = null;
        self.target = null;
      
        // Private
        touchables = [];
      
        document.addEventListener("mousemove", function(event) {
          self.x = event.x;
          self.y = event.y;
      
          self.offset_x = $('#container').offsetLeft;
          self.offset_y = $('#container').offsetTop;
      
          coords = pixelsToCoords(
            (self.x - self.offset_x),
            (self.y - self.offset_y)
          );
      
          over = false;
      
          touchables.each(function(touchable) {
            target_coords = pixelsToCoords(
              (touchable.coords.x),
              (touchable.coords.y)
            );
            if(coords.x == target_coords.x && coords.y == target_coords.y) {
              over = true;
              if(self.target != touchable.target) {
                $('#container').style.cursor = 'pointer';
                if(self.target != null) self.target.mouseOut();
                self.target = touchable.target;
                self.target.mouseOver();
              }
            }
          });
      
          if(!over && self.target != null) {
            $('#container').style.cursor = 'default';
            self.target.mouseOut();
            self.target = null;
          }
        });
      
        self.registerTouchable = function(target, coords) {
          touchables.push({target: target, coords: coords});
        }
      
        self.getTouchables = function() {
          return touchables;
        }
      
        return self;
      }());
      
      window.onload = function() { Game.init(); }
      
    </script>
  </div>
</body>
</html>